# Everything
/*

# Directories
!/src
!/gradle

# files
!/.gitignore
!/.gitmodules
!/CONTRIBUTING.MD
!/LICENSE.txt
!/README.md
!/gradle.properties
!/build.gradle
!/gradlew
!/gradlew.bat
.DS_Store

# Do not include gradle.properties, in contains sensitive information.
# Create an empty file called gradle.properties and enter the following:
#
# curseForgeApiKey=00000-00000-00000-00000-00000
#
gradle.properties