# Everything
/*

# Directories
!/gradle/wrapper
!/src

# files
!/.gitignore
!/.gitmodules
!/CONTRIBUTING.MD
!/LICENSE.txt
!/README.md
!/gradle.properties
!/build.gradle
!/gradlew
!/gradlew.bat
.DS_Store